<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href ="css/aaa.css"/>
        <title>Insert title here</title>
    </head>
    <body>
        <h1>index.ejs</h1>
        <a href="parameter?data1=aaa&data2=bbb">parameter</a><br/>
        <form action="parameter" method="get">
            data 1 : <input type="text" name="data1"/><br/>
            data 2 :<input type="text" name="data2"/><br/>
            <button type="submit"> 확인</button>
        </form>

        <form action="parameter-post" method="POST">
            data 1 : <input type="text" name="data1"/><br/>
            data 2 :<input type="text" name="data2"/><br/>
            <button type="submit"> 확인</button>
        </form>
    </body>
</html